.imageS-div {
    height: 20vw;
    width: 30vw;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.imageS-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;

}

.imageS-div .overlay-s {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.192);
    position: absolute;
    transition: all ease 0.5s;
}

.overlay-s {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    z-index: 9;

}

.overlay-s p {
    font-size: 1.7vw;
    text-align: center;
    color: white;
    opacity: 0;
    transition: all ease 0.5s;
    transition-delay: 0.2s;
}

.imageS-div:hover .overlay-s {
    background-color: black;
}

.imageS-div:hover .overlay-s p {
    opacity: 1;
}

.imageS-div:hover img {
    scale: 1.1;
}